* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* 임시 css */
.footer-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    text-align: center;
    font-size: 14px;
}

.footer-nav a .icon {
    display: block;
    font-size: 24px;
}

/**헤더*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* 폴더 */
.folder-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.folder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.folder-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    justify-content: space-between; /* Added this line */
}

.folder-content {
    display: flex;
    align-items: center;
}

.folder-icon {
    font-size: 24px;
    margin-right: 20px;
}

.folder-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.folder-name {
    font-size: 18px;
    font-weight: bold;
}

.folder-status {
    color: #777;
}

/* 인풋 */
.input-group {
    background-color: #fff;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: calc(100% - 40px); /* 단위 공간을 위해 조정 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-wrapper .unit {
    position: absolute;
    top: 40%;
    right: 50px;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* 컴바인 인풋 */
.input-group-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-group-wrapper .input-group {
    flex: 1;
    margin-right: 10px;
}

.input-group-wrapper .input-group:last-child {
    margin-right: 0;
}

.item-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.type-button,
.detail-button,
.camera-button {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.type-button.active {
    color: #fff;
    background-color: #007bff;
}

.camera-button {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 80px;
}

/* 탭 */
.parentTab-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.parentTab-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

.parentTab-button.active {
    border-bottom: 2px solid #000;
    font-weight: bold;
}
